:root {
  --slidev-theme-primary: #ffd900;
}

.slidev-page {
  @apply overflow-hidden;
}

.slidev-layout {
  @apply px-24 py-16;

  h1 {
    @apply text-2xl font-semibold;
  }
}

.slidev-layout.cover {
  @apply flex flex-col justify-center gap-3;

  h1,
  p {
    @apply m-0;
  }

  h1 {
    @apply text-5xl font-semibold;
  }
}

.slidev-layout.title {
  @apply flex flex-col justify-center pl-2/5 text-left;

  h1 {
    @apply text-4xl font-semibold m-0;
  }
}

.slidev-layout.thank-you {
  p {
    @apply m-0;
  }
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
